* {
    font-family: $font-family-sans-serif;
}

html,
body {
    background-color: $body-bg;
}

//Animate default
@-webkit-keyframes AnimationName {
    0% {
        background-position: 39% 0%;
    }
    50% {
        background-position: 62% 100%;
    }
    100% {
        background-position: 39% 0%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 39% 0%;
    }
    50% {
        background-position: 62% 100%;
    }
    100% {
        background-position: 39% 0%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 39% 0%;
    }
    50% {
        background-position: 62% 100%;
    }
    100% {
        background-position: 39% 0%;
    }
}

.animate-default {
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

.whatsapp-mobile {
    position: fixed;
    right: 10%;
    top: 2%;
}

.bg-default {
    background-color: $white;
}

.btn-pink {
    background-color: $pink;
}

.text-pink {
    color: $pink;
}

.text-black {
    color: $black;
}
