// Body
$body-bg: #f2f2f2;
$footer-bg: #f7f7f7;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #e71d57;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #00d98e;
$cyan: #00928e;
$white: #ffffff;
$black: #2b2b2b;
